<div>
    <app-git-search-form (emitUser)="myName($event)"></app-git-search-form>
    <div *ngFor='let theUser of theUsers'>
        <p>Name: {{theUser.name}}<br>GitHub name: {{theUser.login}}</p>
        <img src="{{theUser.avatar_url}}" alt="">
    </div>
    <div class="card-columns">
       
            <div *ngFor = 'let theRepo of theRepositories'>
                <h5>{{theRepo.name}}</h5>
                <p>{{theRepo.description}}</p>
                <a href="{{theRepo.html_url}}"><p>View project on GitHub</p></a>
            </div>
       
    </div>
</div>
